/*

#title            : Exercise 3: WEBSITE TESLA
#description      : TESLA's Website HTML Proudly made by:
#author           : Brieuc CAILLOT
#date             : 20161103
#version          : Probably the lastest version
#usage            : HTML
#notes            : Only working on search engine

*/

body{
	font-family: Myriad Pro, sans-serif;	
}

					/* FIRST BLOC */

#bloc1{
	background: url(logos/headerwall.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 919px;

}

	/* HEADER */

#header{
	overflow: hidden;
	margin: 0 50px;
	padding-top: 10px;
	margin-bottom: 38px;
}

#header>img{
	float: left;
}

#header ul{
	float: right;
	padding-right: 27px;
	vertical-align: middle;
	line-height: 82px;
}

#header ul li{
	float: left;
	margin: 0 20px;
}

#header ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #adadad;
}

#header ul li a:hover{
	color: #ffffff;
}

	/* MID BLOC WITH BUTTONS AND TEXT*/

.middle{
	overflow: hidden;
	margin: 9px 20px 52px
}

.dotleft{
	width: 3px;
}


.middle .bullets li{
    list-style-image: url("logos/dotleft.png");
	margin-left: 40px;
	margin-top: 15px;			
}

.middle .bullets li:hover {
    list-style-image: url("logos/hoverdot.png");
	width: 40px;
	margin-left: 40px;
	margin-top: 15px;			
}

.middle .bullets{
    float: left;
    height: 260px;
    margin-top: 8%;
    margin-left: 2%;

}

.middle-text{
	float: right;
	margin-right: 5%;	
	padding-bottom: 9%;
	background: url(logos/bullets_bottom.png) no-repeat bottom left;
}

.middle-text h1{
	color:white;
	font-size: 36px;
}

.middle-text p{
	color: #adadad;
	margin: 20px 0;
	line-height: 26px;
}

.middle-text a{
	color: #ffffff;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	border:solid 2px #ffffff;
	border-radius: 2px;
	padding: 9px 16px 5px;
    display: inline-block;
    width: 120px
}

	/* MIDDLE BLOC BOTTOM */

		
		/* AVAILABLE SEAT IN DA TESLA*/

.middle-bottom1{
	background: url(logos/bullets_top1.png) no-repeat 190px 12px;
	float:left;
	width: 33%;
	height: 300px;

}

.middle-bottom1 .number1{
	position: relative;
    left: 102px;
    top: 165px;
    font-size: 125px;
    width: 200px;
    color: white;
    margin-bottom: 16px;
}

.middle-bottom1 .number2{
	position: relative;
    left: 108px;
    top: 145px;
    width: 200px;
    color: white;
}

		/* MAX ACCELERATION */

.middle-bottom2{
	background: url(logos/bullets_top.png) no-repeat 190px 36px;
	float:left;
	width: 33%;
	height: 300px;

}

.middle-bottom2 .number1{
	position: relative;
    left: 102px;
    top: 165px;
    font-size: 125px;
    width: 200px;
    color: white;
    margin-bottom: 16px;
}

.middle-bottom2 .number1-2{
	position: relative;
   	left: 255px;
    top: 20px;
    font-size: 65px;
    width: 200px;
    color: white;
    margin-bottom: 16px;
}


.middle-bottom2 .number2{
	position: relative;
    left: 108px;
    top: 59px;
    width: 200px;
    color: white;
}

		/* TESLA'S RANGE */

.middle-bottom3{
	background: url(logos/bullets_top1.2.png) no-repeat 195px 21px;
	float:left;
	width: 33%;
	height: 300px;
}

.middle-bottom3 .number1{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
    left: 102px;
    top: 156px;
    font-size: 125px;
    width: 200px;
    color: white;
    margin-bottom: 16px;
}

.middle-bottom3 .number1-2{
	font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    left: 281px;
    top: 21px;
    font-size: 72px;
    width: 200px;
    color: white;
    margin-bottom: 16px;
}

.middle-bottom3 .number2{
	position: relative;
    left: 108px;
    top: 56px;
    width: 200px;
    color: white;
}

					/* SECOND BLOC*/

/* FIRST CASE*/

#bloc2{
	width: 100%;
}

#bloc2 .case1{
	background: url(logos/bullets_right_long.png) no-repeat 195% 25%;
	z-index: 1;
}

#bloc2 .case1{
	float: left;
	background-color: #62647D;
	width: 50%;
	height: 320px;
	color: white;
	clear: both;
}

#bloc2 .case1 .title{
    font-size: 37px;
    font-weight: bold;
    padding: 75px 0px 16px 13%;
}

#bloc2 .case1 .text{
	line-height: 26px;
    font-size: 14px;
    padding-left: 13%;
}

/*SECOND CASE */

#bloc2 .case2 img{
	float: right;
	width: 50%;
}

					/* THIRD BLOC */

#bloc3{
	clear: both;
	width: 100%
}

/* FIRST CASE*/

#bloc3 .case1 img{
	width: 50%;
	float: left;
}

/* SECOND CASE */

#bloc3 .case2{
	background: url(logos/bullets_left_short.png) no-repeat -21% 22.7%;
	z-index: 1;
}

#bloc3 .case2{
	float: right;
	background-color: #30313E;
	width: 50%;
	height: 320px;
	color: white;
}
#bloc3 .case2 .title{
	color: white;
	font-size: 37px;
	font-weight: bold;
	padding: 75px 0px 16px 13%;
}

#bloc3 .case2 .text{
	color: white;
	line-height: 26px;
    font-size: 15px;
    width: 536px;
    padding-left: 13%;
}

					/* END BLOC */

#joinus{
	float: left;
	background-color: #ffffff;
	height: 190px;
	width:100%;
}

#joinus .buttonbot p{
    color: white;
    position: absolute;
    left: 42%;
    font-size: 21px;
    margin-top: 61px;
}

#joinus .buttonbot img{
	width: 300px;
	padding: 43px 0px 17px 38%;
}

#joinus .textbot p{
	padding-left: 398px;
    font-style: italic;
    font-size: 14px;
}

#joinus .buttonbot a { 
	text-decoration: none; color:white; 
}

#joinus .buttonbot a:visited { 
	text-decoration: none;  
}

#joinus .buttonbot a:hover { 
	text-decoration: none; 
}

#joinus .buttonbot a:focus { 
	text-decoration: none; color: blue; 
}

.end{
	background-color: #62647D;
	width: 100%
	height: 66px;
	margin-top: 42px;
}

.end img{
	padding: 13px 0px 13px 48%;
}



